@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");

/* El CSS siguiente esta pensando primero para moviles y luego para 
   Escritiorio*/
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: calc(0.5em + 1vh);
}

/* El estilo base para moviles */
body {
  background-color: #112935;
  color: white;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-weight: 400;
}

/*Dimensionando el header para pantalla móvil*/
.header {
  display: flex;
  justify-content: space-between;
  padding-top: 1em;
  padding-inline-start: 3em;
  padding-inline-end: 3em;
}

.src-only {
  display: none;
}
/*Definiendo el tamaño del icono*/
.hide-mobile {
  display: none;
  font-size: 1em;
}

/*Ajustando el tamaño del parrafo en el header*/
p {
  font-size: 0.75em;
  padding: 1rem;
  line-height: 25px;
}
/*Controla el tamaño de la imagen de Perfil*/
.logo {
  width: 90px;
  margin: 1em;
}
/*Aumentar el padding derecho para visualizar la imagen completa*/
.header img.logo {
  margin: 0;
  padding-right: 0.5em;
}
/*Iconos*/
.options {
  color: inherit;
  text-decoration: none;
  position: relative;
  top: 30%;
  right: 95%;
  font-size: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
.options i:last-child {
  font-size: 1.6rem;
}

/* Big area */
.big-hero img {
  width: 110px;
  margin-top: 1.5em;
}

.big-hero h2 {
  font-size: 1.875em;
  font-weight: 700;
  letter-spacing: 0.002em;
  margin-top: 1em;
}

.big-hero p {
  font-size: 0.7em;
  color: #d7dee6;
  padding: 0;
}

/* Social links*/
.social-links {
  list-style: none;
  margin-top: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/*Aumenta el tamaño del padding en la parte inferior de los iconos social-links*/
.social-links {
  padding-block-end: 5em;
}
/*Modificar el color de los ICONOS SOCIALES y aumentando su tamaño*/
.social-links li a {
  align-items: flex-start;
}

/*Modifica el color y tamaño de iconos social-links*/
.social-links li a i {
  color: #d7dee6;
  display: inline-block;
  text-decoration: none;
  font-size: 3.5em;
  padding: 0 0.2em 0 0.2em;
}

/*Creando FLEX los article, reduciendo su tamaño*/
.green-area .post article {
  display: flexbox;
  box-sizing: content-box;
}

/*Centra los items dentro del mismo para ajustarlos al centro*/
.green-area {
  display: flex;
  background-color: #0ac693;
  align-content: center;
  align-items: center;
  justify-content: center;
}

/*El contenedor principal aumenta su padding*/
.post {
  padding: 1em;
  margin-bottom: -2px;
}
/*Ajustable el tamaño de PUBLICACIONES para la pantalla móvil transformando la palabra a mayúsculas*/
.post h2 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.125em;
  margin: 1em;
}
/*Ajusta el contenedor y los items al centro y los justifica*/
.post ul {
  list-style: none;
  align-content: center;
  align-items: center;
  justify-content: center;
}
/*Diseña el contentBox con las medidas para cada articulo*/
.post ul li {
  min-height: 300px;
  max-width: 350px;
  margin: 2rem auto;
  align-items: flex-end;
  align-content: center;
}
/*Otorga el diseño del contentBox con respecto a los bordes,
además se ajusta el ancho del mismo */
.post ul li article {
  overflow: hidden;
  border-radius: 10px;
  background-color: #ffffff;
  text-align: center;
  width: 18em;
  padding-bottom: 2em;
  justify-content: center;
  align-content: center;
  align-items: center;
}

/*Modifica el tamaño de la imagen con el articulo y ajusta con cover
la imagen al tamaño del contentBox*/
.post article img {
  height: 150px;
  width: 100%;
  object-fit: cover;
}

/*Le da diseño del encabezado del articulo*/
.post article h3 {
  color: #0d5061;
  margin-top: 2em;
  padding: 0em 1rem;
  font-size: 0.9em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*Le da color especifico al texto, y ajusta altura de la línea*/
.post article p {
  color: #112935;
  font-size: 0.75em;
  padding: 1rem;
  line-height: 25px;
}

/* About */

/*Le da un espacio en la sección de arriba*/
.about {
  margin-top: 2em;
}

/*Modifica el */
.about h2 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.125em;
  margin: 2em;
}
/*Creando el contenedor flex para ajustar los articulos*/
.bio-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bio-info img {
  width: 150px;
}

.bio-info p {
  font-size: 16px;
  padding: 1em;
  text-align: left;
  line-height: 25px;
  letter-spacing: 2px;
  width: 18em;
}
/*Centra los elementos del formato de contacto*/
.contact {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 0px 1em;
}

/*Calcula el tamaño de los margenes*/
.contact * + * {
  margin-top: 1.5em;
}

/*Diseño del formato de contacto*/
.contact-form input,
.contact-form textarea {
  padding: 1rem 2rem;
  border: none;
  border-radius: 0px 2em;
  font-size: 1em;
  font-weight: 900;
  width: 90%;
  margin-bottom: 1.5em;
}

.contact-form {
  padding-left: 3em;
}
.contact-form label {
  font-weight: bold;
}
/*Diseña especificamente el botón de enviar formulario*/
.contact-form input[type="submit"] {
  background-color: #f74442;
  font-weight: 400;
  color: white;
  font-size: 1rem;
}
/* Decorando placeholder */

::-webkit-input-placeholder {
  color: #d7dee6;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: #d7dee6;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #d7dee6;
}

:-ms-input-placeholder {
  color: #d7dee6;
}

.black-decoration {
  background-image: url("../images/decoracion_oscura_small.svg");
}

/*Diseño especifico para el footer*/
footer {
  background-color: #0d5061;
  color: #d7dee6;
}
/*Modifica los iconos de social-links de la etiqueta footer*/
footer .social-links {
  padding: 0;
}
footer p {
  padding-top: 0;
}
.menu {
  background-color: #112935;
  position: absolute;
  z-index: 20;
  top: 60px;
  right: 0;
  width: 100vw;
  height: calc(100vh - 60px);
}

.menu {
  list-style: none;
  text-align: left;
  padding: 1em;
}
.menu li {
  display: block;
  padding: 0.5em;
  margin-top: 5px;
}

.menu li a {
  color: white;
  text-decoration: none;
}

/* Pesonalizando estilo para TABLETS*/
@media only screen and (min-width: 768px) {
  .src-only {
    display: none;
  }

  .hide-mobile {
    display: none;
    font-size: 0.2em;
  }
  /*Reajustando el tamaño de la lista de componentes de la página*/
  p {
    font-size: 0.75em;
    padding: 1rem;
    line-height: 25px;
  }
  /*Cambia el tamaño de la foto de perfil*/
  .logo {
    width: 150px;
    margin: 1.5em;
  }
  /*Aumentar el padding derecho para visualizar la imagen completa*/
  .header img.logo {
    margin: 0;
    padding-right: 0.5em;
  }
  /* Social links*/
  .social-links {
    list-style: none;
    margin-top: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .social-links {
    padding-block-end: 1em;
  }
  /*Modificar el color de los ICONOS SOCIALES y aumentando su tamaño*/
  .social-links li a {
    align-items: flex-start;
  }
  /*Aumenta el tamaño de los iconos de redes sociales*/
  .social-links li a i {
    color: #d7dee6;
    text-decoration: none;
    font-size: 4em;
  }
  /*Aumentando el tamaño del ICONO y su espacio*/
  .big-hero div.container a.hide-mobile {
    font-size: 4em;
    color: #0ac693;
    padding-block-end: 1em;
  }

  .post ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  /*Modificando el */
  .post ul li {
    display: flex;
    min-height: 350px;
    max-height: 3500px;
    margin: 1rem 2rem;
    flex: 1 0 300px;
    align-items: center;
    justify-content: center;
  }
/*Se modifica el tamaño del isotipo*/
  .logo {
    width: 150px;
    margin: 1.5em;
  }

  .show-desktop {
    display: block;
  }

  .hide-desktop {
    display: none;
  }

  .menu {
    background-color: #112935;
    position: static;
    z-index: 20;
    width: auto;
    height: auto;
    display: flex;
    margin-top: 1em;
  }

  /*Cambio de color en el último elemento del nav*/
  .header nav ul li:last-child a {
    color: red;
  }
  .options i:last-child {
    font-size: 1.6rem;
  }

  .post ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  /*Dimensionando los articulos*/
  .post ul li {
    min-height: 350px;
    max-height: 3500px;
    margin: 1rem 2rem;
    flex: 1 0 300px;
  }
/*Se modifica el tamaño del logo de contacto*/
  .logo {
    width: 150px;
    margin: 1.5em;
  }

  .show-desktop {
    display: block;
  }

  .hide-desktop {
    display: none;
  }

  .menu {
    background-color: #112935;
    position: static;
    z-index: 20;
    width: auto;
    height: auto;
    display: flex;
    margin-top: 1em;
  }
  /*Ajustando el ancho del parrafo acorde al tamaño del formulario*/
  .about .container .bio-info p {
    width: 75%;
  }
  /*Centra los elementos del formato de contacto*/
  .contact {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 2px 4em;
  }
  /*Quitar el padding de las etiquetas label*/
  .contact form.contact-form label {
    margin: 0;
    text-align: left;
  }

  /*Diseño del formato de contacto adaptado para tablets*/
  .contact-form input,
  .contact-form textarea {
    padding: 1rem 2rem;
    border: none;
    border-radius: 0px 2em;
    font-size: 1em;
    font-weight: 900;
    
    width: 90%;
    margin-bottom: 2em;
  }
}

@media only screen and (min-width: 1024px) {
  /*Aumentar el tamaño de texto de los elementos de la lista del navegador*/
  .header nav ul.menu li a {
    font-size: 1.5em;
  }
  /*Tomar todo el ancho de la pantalla*/
  .green-area div.post {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  /*Distribuir los elementos del content*/
  .green-area .post ul {
    justify-content: space-evenly;
  }
  /*Modifica el padding del nombre*/
  .post h2 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.125em;
    margin: 0;
    padding-top: 2em;
  }
  .post ul {
    list-style: none;
    padding-block-end: 2em;
  }
/*Se crea un flex para ajustar la etiqueta article dentro del elemento li*/
  .post ul li {
    display: flex;
    padding: 0 2em 0 2em;
    margin: 2rem 0 2em 0;
    align-items: center;
    justify-content: center;
    justify-items: center;
  }
  /*Se modifica el ancho de los articulos*/
  .post ul li article {
    overflow: hidden;
    border-radius: 10px;
    background-color: #ffffff;
    text-align: left;
    padding-bottom: 2em;
    width: 18em;
  }
/*Aumenta los iconos de las redes sociales*/
  .social-links {
    list-style: none;
    padding: 0;
    margin-top: 0;
    height: 5em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }
  /*Crea una cuadricula en la sección de información y contacto*/
  .about .container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 25% auto;
  }
  /*Selecciona solo la primera fila y las dos columnas*/
  .about h2 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.125em;
    margin-top: 0;
    margin-block-end: 2em;
    grid-column-start: 1;
    grid-column-end: span 2;
    grid-row-start: 1;
    grid-row-end: 2;
    justify-items: center;
  }
  /*Selecciona la primera columma junto con la siguiente fila*/
  .bio-info {
    padding: 0 2em 0 2em;
    grid-column-start: 1;
    grid-row-start: 2;
    grid-column-end: 1fr;
    grid-row-end: 1fr;
    align-content: flex-start;
  }
  /*Aumenta el logo de ALDANA*/
  .bio-info img {
    width: 200px;
    padding-block-end: 2em;
  }
  /*Se aumenta el padding de acuerdo a los pixeles de la pantalla respectiva*/
  .container.post {
    padding: 4em;
    width: 80%;
    margin: 0 auto;
    max-width: 1440px;
  }
  /*Se ordena dentro de la cuadricula la información de contacto*/
  .contact {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 0px 1em;
    grid-row-start: 2;
    grid-column-start: 2;
    grid-column-end: 1fr;
    grid-row-end: 1fr;
  }
  /*Se modifica especificamente el boton para enviar informacion*/
  .contact-form input[type="submit"] {
    background-color: #f74442;
    font-weight: 400;
    color: white;
    font-size: 1rem;
    width: 15em;
  }
}
@media only screen and (min-width: 1440px) {
  /*Se separa los elementos flex dentro del header*/
  .header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0;
  }
  /*Aumentar el tamaño de texto de los elementos de la lista del navegador*/
  .header nav ul.menu li a {
    font-size: 2em;
  }
  /*Se modifica el tamaño del isotipo*/
  .logo {
    width: 150px;
    margin: 1.5em;
  }

  /*Se restringe un ancho especifico para este tamaño*/
  .container {
    width: 80%;
    margin: 0 auto;
    max-width: 1440px;
  }
  /*Aumenta el tamaño de la foto de perfil*/
  .container img{
    width: 150px;
  }
  .big-hero {
    align-items: center;
  }
  /* Social links*/
  .social-links {
    list-style: none;
    padding: 0;
    margin-top: 0;
    height: 5em;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }
  /*Modificar el color de los ICONOS SOCIALES y aumentando su tamaño*/
  .social-links li a {
    color: #d7dee6;
    text-decoration: none;
    font-size: 1.5em;
    padding: 0em, 3em, 0em, 3em;
    /*align-items: flex-start;*/
  }
  /*Aumentando el tamaño del ICONO y su espacio */
  .big-hero div.container a.hide-mobile i {
    font-size: 1em;
    color: #0ac693;
    padding-block-start: 1em;
    padding-block-end: 2em;
  }
  /*Se modifica la etiqueta footer en las redes sociales para este tamaño de pantalla*/
  footer .social-links {
    height: 7em;
  }
}
